<!DOCTYPE html>
<html 
class="light"
lang="en" 
xmlns:th="http://www.thymeleaf.org" 
th:fragment="base_layout(content,script)">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${title}">Base Page</title>
    <link rel="stylesheet" data-th-href="@{/css/output.css}"/>
    <link href="https://cdn.jsdelivr.net/npm/flowbite@2.4.1/dist/flowbite.min.css" rel="stylesheet" />
</head>


<body 
    class="dark:bg-gray-900 dark:text-white"
    
>
    <!-- navbar starts -->
  <div class="nav" data-th-replace="navbar::navbar">

  </div>
    <!-- navbar ends -->

    <section th:replace="${content}">

    </section>

    <script src="https://cdn.jsdelivr.net/npm/flowbite@2.4.1/dist/flowbite.min.js"></script>
    <th:block th:replace="${script}"></th:block>

</body>

</html>